<p>Product Details Page</p>

<mat-form-field appearance="fill">
	<mat-label>Name</mat-label>
	<textarea matInput>{{this.users.name}}</textarea>
</mat-form-field>

<mat-form-field appearance="fill">
	<mat-label>Type</mat-label>
	<textarea matInput>{{this.users.type}}</textarea>
</mat-form-field>

<mat-form-field appearance="fill">
	<mat-label>Description</mat-label>
	<textarea matInput>{{this.users.description}}</textarea>
</mat-form-field>

<mat-form-field appearance="fill">
	<mat-label>Color</mat-label>
	<textarea matInput>{{this.users.color}}</textarea>
</mat-form-field>

<mat-form-field appearance="fill">
	<mat-label>Price</mat-label>
	<textarea matInput>${{this.users.price}}</textarea>
</mat-form-field>

<br>
<!-- <button (click)="updateComp()">Update</button> -->

<br>
<br>
<label for="name">Name: </label>
<input class="name-value" id="name" type="text" [formControl]="name" placeholder={{this.users.name}} value={{this.users.name}}>
<br>
<br>
<label for="name">Type: </label>
<input class="name-cost" id="type" type="text" [formControl]="type" value={{this.users.type}} placeholder={{this.users.type}}>
<br>
<br>
<label for="name">Description: </label>
<input class="name-cost" id="description" type="text" [formControl]="description" value={{this.users.description}} placeholder={{this.users.description}}>
<br>
<br>
<label for="name">Color: </label>
<input class="name-cost" id="color" type="text" [formControl]="color" value={{this.users.color}} placeholder={{this.users.color}}>
<br>
<br>
<label for="name">Cost: </label>
<input class="name-cost" id="cost" type="text" [formControl]="cost" value={{this.users.price}} placeholder={{this.users.price}}>
<br>
<br>
<button type="button" (click)="updateName()">Update Name</button>
